@import "../../common/balloon/luciad-balloon.css";
@import "../../resources/font/luciad/style.css";
@import "../../common/attribution/AttributionComponent.css";
@import "../../common/control/ControlGroup.css";
@import "../../common/control/LayerTreeControl.css";
@import "../../common/navigation/ZoomControl.css";
@import "../../common/navigation/PanControl.css";
@import "../../common/mouseLocation/MouseLocationComponent.css";
@import "../../common/scaleIndicator/ScaleIndicator.css";
@import "../../common/tooltip/TooltipHoverController.css";

body { 
	overflow: hidden; 
	color: #fff;
	font-size:18px;
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#sendWeChatModal.modal, #eventChronologyModal.modal{
}
#sendWeChatModal .modal-header, #eventChronologyModal .modal-header {
  background-color: #2D3555;
}
#sendWeChatModal .modal-body, #eventChronologyModal .modal-body {
  background-color: #1A1E35;
}

#eventChronologyModal .modal-body {
	overflow-x:hidden;
	overflow-y: auto;
	height:500px;
}

/***************map style **************************/
progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 12px;
  background-color: #808080;
  color: #c1d92a;
  border: 1px solid #c1d92a;
}
progress::-moz-progress-bar { background: #c1d92a; }
progress::-webkit-progress-value { background: #c1d92a; }


#no3dsupportforcanvasmaps {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  display: table;
  opacity: 0;
  visibility: hidden;
}

#no3dsupportforcanvasmaps h3 {
  display: table-cell;
  vertical-align: middle;
}

.mapcanvas.map3d #no3dsupportforcanvasmaps {
  opacity: 1;
  visibility: visible;
}

.mapcanvas.map3d #map {
  height: 100% !important;
}

#map {
  background-color: #181818;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 0;
  margin: 0 0;
  z-index: 35;
}

#onmap {
  z-index: 200;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* #snippet logocss */
.logo {
  position: absolute;
  width: 118px;
  height: 33px;
  bottom: 10px;
  right: 10px;
  z-index: 700;
  font-family: 'LuciadRIA' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  pointer-events: none;
}

.logo::before {
  content: "\e958";
}

/* #endsnippet logocss */


.toasts {
  width: 60%;
}

.toast {
  text-align: start;
  padding: 1em;
  margin-top: 2em;
  z-index: 1000;
  font-size: larger;
  font-weight: bold;
  transition: opacity 300ms ease-in;
  background-color: rgba(50, 50, 50, 0.7);
  color: white;
}

.toast.error {
  border: 1px solid #d40a00;
}

.toast.warning {
  border: 1px solid #ffb000;
}



/* #endsnippet logocss */


/************************
#map { position: absolute; top: 50px; bottom: 0px; left: 0px; right: 0px; z-index: 35;  }
#map .ol-zoom { font-size: 1.2em; }
****************/

.navbar-offset { margin-top: 70px; }
.zoom-top-opened-sidebar { margin-top: 5px; }
.zoom-top-collapsed { margin-top: 45px; }

.mini-submenu{
display:none;
background-color: rgba(255, 255, 255, 0.46);
border: 1px solid rgba(0, 0, 0, 0.9);
border-radius: 4px;
padding: 9px;  
/*position: relative;*/
width: 42px;
text-align: center;
}

.mini-submenu-left {
position: absolute;
top: 60px;
left: .5em;
z-index: 40;
}
.mini-submenu-right {
position: absolute;
top: 60px;
right: .5em;
z-index: 40;
}

.sidebar { z-index: 45; }

.main-row { position: relative; top: 0; }

.mini-submenu:hover{
cursor: pointer;
}

.slide-submenu{
background: rgba(0, 0, 0, 0);
display: inline-block;
padding: 0 8px;
border-radius: 4px;
cursor: pointer;
}

.top-block-blue {
	color:#fff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    display: block;
    line-height: 22px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 0px #FAFAFA;
    -moz-box-shadow: inset 0 0 0 0px #FAFAFA;
    box-shadow: inset 0 0 0 0px #FAFAFA;
    background: -moz-linear-gradient(top, #0264D9 0%, #0134B1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0264D9), color-stop(100%,#0134B1));
    background: -webkit-linear-gradient(top, #0264D9 0%,#0134B1 100%);
    background: -o-linear-gradient(top, #0264D9 0%,#0134B1 100%);
    background: -ms-linear-gradient(top, #0264D9 0%,#0134B1 100%);
    background: linear-gradient(-35deg, #0264D9 0%,#0134B1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264D9', endColorstr='#0134B1',GradientType=0 );
}

.top-block-red {
	color:#fff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    display: block;
    line-height: 22px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 0px #FAFAFA;
    -moz-box-shadow: inset 0 0 0 0px #FAFAFA;
    box-shadow: inset 0 0 0 0px #FAFAFA;
    background: -moz-linear-gradient(top, #FF3B6D 0%, #FF822E 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF3B6D), color-stop(100%,#FF822E));
    background: -webkit-linear-gradient(top, #FF3B6D 0%,#FF822E 100%);
    background: -o-linear-gradient(top, #FF3B6D 0%,#FF822E 100%);
    background: -ms-linear-gradient(top, #FF3B6D 0%,#FF822E 100%);
    background: linear-gradient(to bottom, #FF3B6D 0%,#FF822E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF3B6D', endColorstr='#FF822E',GradientType=0 );
}

.bs-wizard {margin-top: 40px;}

/********************************************************/


.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 0px;
}
/********************************************************/

/*--------------custom bootstrap step start-------------------------------*/
/*Form Wizard*/

.step { position: relative; min-height: 32px /* circle-size */ ; }
.step > div:first-child { position: static; height: 0; }
.step > div:last-child { margin-left: 32px ; padding-left: 16px; }
.step .circle { background: #4285f4; width: 32px; height: 32px; line-height: 32px; border-radius: 16px; position: relative; color: white; text-align: center; }
.step .line { position: absolute; border-left: 1px solid gainsboro; left: 16px; bottom: 10px; top: 42px; }
.step:last-child .line { display: none; }
.step .title { line-height: 32px; font-weight: bold; }
.step .yellow {color:yellow;}



/*--------------custom bootstrap step end-------------------------------*/

/*--------------custom bootstrap styles start-------------------------------*/
.row
{
	margin-left : -15px;
}

.navbar-default {
    background: #083A77;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#083A77), color-stop(100%,#1F2740));
	background: -webkit-linear-gradient(top, #083A77 0%, #1F2740 100%);
	background: linear-gradient(to bottom, #083A77 0%, #1F2740 100%);
    border-color: #1F2740;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #1275FC;
}
.navbar-default .navbar-nav>li>a {
    border-radius:10px;
	color:#fff;
}

.navbar-nav>li>a {
	position:relative;
	display:block;
    padding-top: 20px;
    padding-bottom: 10px;
	font-size:22px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:	#337ab7;
}

.panel {
  background: #083A77;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#083A77), color-stop(100%,#1F2740));
  background: -webkit-linear-gradient(top, #083A77 0%, #1F2740 100%);
  background: linear-gradient(90deg, #083A77 0%, #1F2740 100%);
}

.panel-title {
    font-size: 22px;
    color: inherit;
}

.panel-default {
    border-color: #083A77;
	
	
}
.panel-default > .panel-heading {
	color: #fff;
	background: #083A77;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#083A77), color-stop(100%,#1F2740));
	background: -webkit-linear-gradient(top, #083A77 0%, #1F2740 100%);
	background: linear-gradient(90deg, #083A77 0%, #1F2740 100%);
	border-color: #ddd;
}

.row-fluid .span3 {
    width: 45%;
}



/*--------------custom bootstrap styles end-------------------------------*/